---
layout: default
---
<head>
 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500">
    <style>
      body {
        font-family: 'Poppins', serif;
        font-size: 20px;
      }
    </style>
</head>
<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
<script src="https://giscus.app/client.js"
        data-repo="simplystudios/gicus-simplehead"
        data-repo-id="R_kgDOGwB_PA"
        data-category="General"
        data-category-id="DIC_kwDOGwB_PM4CA5bi"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
